/******************************************************************************\
*                                                                              *
*   Copyright:         Trautenberg Engineering GmbH                            *
*                                                                              *
* ---------------------------------------------------------------------------- *
*                                                                              *
*   Module Name        : {{ org_data.module_name }}                                     *
*   Module Description :                                                       *
{% block module_description %}
{% endblock module_description %}
*                                                                              *
*                                                                              *
*******************************************************************************/

#pragma once 

{% block include_section %}
{% endblock include_section %}

{% block typedef_section %}
{% endblock typedef_section %}

{% block functions %}
{% endblock functions %}
