{% extends "base_header.j2" %}


{% block include_section %}
#include "smf_{{ statemachine.name|lower }}_types.h"
{% endblock include_section %}

{% block functions %}
{% for state in statemachine.states %}
    {% for function in statemachine.states[state].functions %}
        {% if function == "exit" %}
void smf_{{ statemachine.name|lower }}_{{ statemachine.states[state].functions["exit"] }}(smf_{{ statemachine.name|lower }}_instance_data_t* instance);
        {% elif function == "entry" %}
void smf_{{ statemachine.name|lower }}_{{ statemachine.states[state].functions["entry"] }}(smf_{{ statemachine.name|lower }}_instance_data_t* instance);
        {% else %}
void smf_{{ statemachine.name|lower }}_{{ statemachine.states[state].functions[function] }}(smf_{{ statemachine.name|lower }}_instance_data_t* instance, smf_{{ statemachine.name|lower }}_event_{{ function|lower }}_t* event_data);
        {% endif %}
    {% endfor %}
    {% for transition in statemachine.states[state].transitions %}
        {% if transition == "automatic" %}
            {%if statemachine.states[state].transitions["automatic"].function is not none %}
void smf_{{ statemachine.name|lower }}_{{ statemachine.states[state].transitions["automatic"].function }}(smf_{{ statemachine.name|lower }}_instance_data_t* instance);
            {% endif %}
        {% else %}
            {%if statemachine.states[state].transitions[transition].function is not none %}
void smf_{{ statemachine.name|lower }}_{{ statemachine.states[state].transitions[transition].function }}(smf_{{ statemachine.name|lower }}_instance_data_t* instance, smf_{{ statemachine.name|lower }}_event_{{ transition|lower }}_t* event_data);
            {% endif %}        
        {% endif %}
    {% endfor %}
{% endfor %}
{% endblock functions %}


